@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* MY_CUSTOM */
@media only screen and (max-width : 1044px)
  .main-screen-slider
    .slide
      &-content
        padding-left: 45px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

  .logo
    margin:
      bottom: 15px

  .main-screen-slider
    h2, p
      margin: 0
      padding: 0
    h2, p, .button
      position: relative
      z-index: 99
    .slide
      padding: 25px 15px
      color: #ffffff
      &::before
        content: ''
        z-index: 1
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background-color: rgba(#000, .5)


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

  .top-menu-line
    .social-icons
      margin-left: -15px
      justify-content: flex-start

  .main-screen-slider
    .button
      margin-bottom: 25px
    .slick-arrow
      width: 80px
      height: 80px
      top: 50%
      &:before
        width: 30px
        height: 30px

    .slick-prev
      left: -40px
      &:before
        margin:
          top: -14px
          left: 40px

    .slick-next
      right: -40px
      &:before
        margin:
          top: -14px
          left: 10px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  .main-screen-slider
    overflow: visible
    .slide
      &-content
        padding-left: inherit
        h2, p
          margin: 0
          padding: 0
        h2, p, .button
          position: relative
          z-index: 99
        h2
          margin-bottom: 15px
          line-height: 1.3
        p
          margin-bottom: 20px
          line-height: 1.6
    .slick-dots
      bottom: -35px
    button.slick-prev.slick-arrow, button.slick-next.slick-arrow
      display: none !important

  .s-whywe
    text-align: left
    &__wrapper
      flex-direction: row
      align-items: flex-start
    &__icon
      width: 70px
    &__text
      padding: 15px


/* Custom, iPhone Retina */
@media only screen and (max-width : 580px)

  .top-line
    .address-container, .contacts
      width: 100%
    .contacts__item.phone
      margin-top: 20px

    .logo
      margin-left: 0

/* Custom, iPhone Retina */
@media only screen and (min-width : 1200px)

  .top-line
    padding:
      top: 35px
      bottom: 35px

  .contacts__item
    padding-left: 74px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  /**/



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  /**/

